[Unit]
Description=Minecraft instance "%i"
PartOf=minecraft.target

[Container]
# Must be overriden
# Image=minecraft@{YOUR_IMAGE_VERSION_HERE}.image
# See the vanilla override for examples
Pull=always
PublishPort=25565:25565
Volume=minecraft@%i.volume:/data
EnvironmentFile=/etc/minecraft/%i.env
HealthCmd=mc-health
HealthOnFailure=kill
HealthRetries=20
HealthStartPeriod=1m
HealthInterval=5s

[Service]
ExecStartPre=/usr/lib/systemd/scripts/minecraft %i
Restart=always
