[Unit]
Description=Minecraft Server

[Container]
# Environment
Environment=UID=998
Environment=GID=998
EnvironmentFile=/usr/lib/minecraft/config.env
EnvironmentFile=/etc/minecraft/config.env
# Image
Image=minecraft.image
# Inter-container deps
PublishPort=25565:25565
Pod=minecraft.pod
StartWithPod=true
Network=minecraft.network
HostName=minecraft-server.podman
# Healthcheck
HealthCmd=mc-health
HealthOnFailure=kill
HealthRetries=20
HealthStartPeriod=1m
HealthInterval=5s
# Volumes
Volume=minecraft-data.volume:/data:rw
Volume=/var/lib/minecraft/config:/config:ro
Volume=/var/lib/minecraft/mods:/mods:ro
Volume=/var/lib/minecraft/plugins:/plugins:ro

[Service]
Restart=always
