[Unit]
Description=Minecraft instance "%i"
PartOf=minecraft.target
Requires=minecraft-setup@%i.service

[Container]
Image=minecraft.image
PublishPort=25565:25565
Volume=/var/lib/minecraft/%i/data:/data
EnvironmentFile=/var/lib/minecraft/%i/config.env
HealthCmd=mc-health
HealthOnFailure=kill
HealthRetries=20
HealthStartPeriod=1m
HealthInterval=5s

[Service]
Restart=always
